div(style="display: flex;justify-content: flex-end;border: 2px solid #696969; border-radius: 3px;")
  h3
    a(href="/reg") Sign in
  h3 
    a(href="/login") Log in

//- users is imported array from index.js 
each user in users
  div(style="border: 2px solid black")
    p= user.mail
    p= user.name
    p= user.surname
    p= user.username
    p= user.phone
    p= user.dob
    p= user.login
    p= user.pwd   